# Large model files (Handled by LFS now)
# *.pkl
# *.h5
# *.keras
# *.model

# Datasets (Handled by LFS now)
# *.csv
# *.npy
# *.edf

# Python/Environment
__pycache__/
*.pyc
.env
.venv/
env/

# IDEs
.vscode/
.idea/
